{% for category in component.ctx.categories %}
    <h2 style="color: {{ category.color }};">{{ category.name }}</h2>
    <div style="border: 1px solid black; height: 5px;">
        <div style="width: {{ category.progress }}%; height: 100%; background-color: {{ category.color }};"></div>
    </div>
{% endfor %}