<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SunMe</title>
    <style type="text/css">
        body {
            font-family: Open Sans, Arial, sans-serif;
            color: #444;
            padding: 0 1em;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
{% for component in view.components %}
    {% include component.html_template %}
{% endfor %}
</body>
</html>

