<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>Context: {{ layout_ctx.current_context }}</p>
<h2>Views:</h2>
<ul>
  {% for view in layout_ctx.views %}
    <li><a href="/views/{{ view.id }}">{{ view.name }}</a></li>
  {% endfor %}
  {% block body %}{% endblock %}
</ul>
</body>
</html>